apiVersion: v1
kind: Secret
metadata:
  name: kq-postgres-credentials
type: Opaque
stringData:
  POSTGRES_PASSWORD: CHANGE_ME
---
apiVersion: v1
kind: Secret
metadata:
  name: kq-penpot-secrets
type: Opaque
stringData:
  PENPOT_DATABASE_PASSWORD: CHANGE_ME
  PENPOT_SECRET_KEY: CHANGE_ME
  PENPOT_WEBSOCKETS_SECRET_KEY: CHANGE_ME
  PENPOT_SMTP_PASSWORD: CHANGE_ME
---
apiVersion: v1
kind: Secret
metadata:
  name: kq-huly-secrets
type: Opaque
stringData:
  SECRET: CHANGE_ME
  MINIO_ROOT_PASSWORD: CHANGE_ME
  REDPANDA_PASSWORD: CHANGE_ME
  SMTP_PASSWORD: CHANGE_ME
